@page {
    size: A4;
    /* marginやpaddingなどを指定 */
}

.col-sm-3 {
    width: 25%;
}

.col-sm-2 {
    width: 16.6666666667%;
}

.col-sm-7 {
    width: 58.3333333333%;
}

.col-sm-9 {
    width: 100%;
}